doctype
head
  meta(charset="utf-8")
  link(rel="stylesheet" href="normalize.css")
  link(rel="stylesheet" href="typography.css")
  link(rel="stylesheet" href="style.css")
  title NBA Suppa
body
  h1.main-title NBA Suppa
  div.rect
    h2.second-title 
      a(href="") 2005 All-Draft Team
    div.pg.box-player
        h3.player-position PG
        img.player-image(src="https://d2cwpp38twqe55.cloudfront.net/req/202004031/images/players/paulch01.jpg")
        p.player-name Chris Paul
        p.wiki
            a.wiki(href="https://en.wikipedia.org/wiki/Chris_Paul" target="_blank") Wikipedia
        p.b-reference
           a.b-reference(href="https://www.basketball-reference.com/players/p/paulch01.html" target="_blank") Basketball-Reference
    div.sg.box-player
        h3.player-position SG
        img.player-image(src="https://d2cwpp38twqe55.cloudfront.net/req/202004031/images/players/willide01.jpg")
        p.player-name Deron Williams
        p.wiki
           a.wiki(href="https://en.wikipedia.org/wiki/Deron_Williams" target="_blank") Wikipedia
        p.b-reference
           a.b-reference(href="https://www.basketball-reference.com/players/w/willide01.html" target="_blank") Basketball-Reference
    div.sf.box-player
        h3.player-position SF
        img.player-image(src="https://d2cwpp38twqe55.cloudfront.net/req/202004031/images/players/leeda02.jpg")
        p.player-name David Lee
        p.wiki
           a.wiki(href="https://en.wikipedia.org/wiki/David_Lee_(basketball)" target="_blank") Wikipedia
        p.b-reference
           a.b-reference(href="https://www.basketball-reference.com/players/l/leeda02.html" target="_blank") Basketball-Reference
    div.pf.box-player
        h3.player-position PF
        img.player-image(src="https://d2cwpp38twqe55.cloudfront.net/req/202004031/images/players/bogutan01.jpg")
        p.player-name Andrew Bogut
         p.wiki
           a.wiki(href="https://en.wikipedia.org/wiki/Andrew_Bogut" target="_blank") Wikipedia
        p.b-reference
           a.b-reference(href="https://www.basketball-reference.com/players/b/bogutan01.html" target="_blank") Basketball-Reference
    div.c.box-player
        h3.player-position C
        img.player-image(src="https://d2cwpp38twqe55.cloudfront.net/req/202004031/images/players/bynuman01.jpg")
        p.player-name Andrew Bynum
        p.wiki
           a.wiki(href="https://en.wikipedia.org/wiki/Andrew_Bynum" target="_blank") Wikipedia
        p.b-reference
           a.b-reference(href="https://www.basketball-reference.com/players/b/bynuman01.html" target="_blank") Basketball-Reference
  div.rect
    h2.second-title 
      a(href="") 2006 All-Draft Team
    div.pg.box-player
        h3.player-position PG
        img.player-image(src="https://d2cwpp38twqe55.cloudfront.net/req/202004031/images/players/rondora01.jpg")
        p.player-name Rajon Rondo
        p.wiki
            a.wiki(href="https://en.wikipedia.org/wiki/Rajon_Rondo" target="_blank") Wikipedia
        p.b-reference
           a.b-reference(href="https://www.basketball-reference.com/players/r/rondora01.html" target="_blank") Basketball-Reference
    div.sg.box-player
        h3.player-position SG
        img.player-image(src="https://d2cwpp38twqe55.cloudfront.net/req/202004031/images/players/lowryky01.jpg")
        p.player-name Kyle Lowry
        p.wiki
           a.wiki(href="https://en.wikipedia.org/wiki/Kyle_Lowry" target="_blank") Wikipedia
        p.b-reference
           a.b-reference(href="https://www.basketball-reference.com/players/l/lowryky01.html" target="_blank") Basketball-Reference
    div.sf.box-player
        h3.player-position SF
        img.player-image(src="https://d2cwpp38twqe55.cloudfront.net/req/202004031/images/players/roybr01.jpg")
        p.player-name Brandon Roy
        p.wiki
           a.wiki(href="https://en.wikipedia.org/wiki/Brandon_Roy" target="_blank") Wikipedia
        p.b-reference
           a.b-reference(href="https://www.basketball-reference.com/players/r/roybr01.html" target="_blank") Basketball-Reference
    div.pf.box-player
        h3.player-position PF
        img.player-image(src="https://d2cwpp38twqe55.cloudfront.net/req/202004031/images/players/millspa01.jpg")
        p.player-name Paul Millsap
         p.wiki
           a.wiki(href="https://en.wikipedia.org/wiki/Paul_Millsap" target="_blank") Wikipedia
        p.b-reference
           a.b-reference(href="https://www.basketball-reference.com/players/m/millspa01.html" target="_blank") Basketball-Reference
    div.c.box-player
        h3.player-position C
        img.player-image(src="https://d2cwpp38twqe55.cloudfront.net/req/202004031/images/players/aldrila01.jpg")
        p.player-name LaMarcus Aldridge
        p.wiki
           a.wiki(href="https://en.wikipedia.org/wiki/LaMarcus_Aldridge" target="_blank") Wikipedia
        p.b-reference
           a.b-reference(href="https://www.basketball-reference.com/players/a/aldrila01.html" target="_blank") Basketball-Reference